/* Define light mode colors in :root */
:root {
    --bg-color: white;
    --text-color: #696969;
    --heading-color: #2A2A2A;
    --navbar-bg: rgba(255, 255, 255, 0.9);
    --project-card-bg: #F0FFED;
    --project-card-bg-2: #EDF4FF;
    --project-card-bg-3: #F1F1F1;
    --project-card-bg-4: #ECF3FF;
    --project-card-bg-5: #F0E8FF;
    --more-works-bg: white;
    --about-bg: #363636;
    --about-text: #FFFFFF;
    --button-bg: #2A2A2A;
    --button-text: #FFFFFF;
}

/* Define dark mode colors */
body.dark-mode {
    --bg-color: #121212;
    --text-color: #B0B0B0;
    --heading-color: #FFFFFF;
    --navbar-bg: rgba(30, 30, 30, 0.9);
    --project-card-bg: #1E1E1E;
    --project-card-bg-2: #1E1E1E;
    --project-card-bg-3: #1E1E1E;
    --project-card-bg-4: #1E1E1E;
    --project-card-bg-5: #1E1E1E;
    --more-works-bg: #1E1E1E;
    --about-bg: #1E1E1E;
    --about-text: #B0B0B0;
    --button-bg: #333333;
    --button-text: #FFFFFF;
}

/* Apply variables to elements */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
}

.project-card {
    background-color: var(--project-card-bg);
}

.project-content h2 {
    color: var(--heading-color);
}

.view-project-btn {
    background-color: var(--button-bg);
    color: var(--button-text);
}

/* Night Mode Toggle Styles */
.night-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.night-mode-toggle input {
    display: none;
}

.night-mode-toggle label {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.night-mode-toggle label::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.night-mode-toggle input:checked + label {
    background-color: #333;
}

.night-mode-toggle input:checked + label::after {
    transform: translateX(25px);
}
